<configuration>
  <appSettings>
    <add key="Start_X-Position" value="100" />
    <add key="Start_Y-Position" value="0" />
    <add key="MenuWidth" value="840" />
    <add key="MenuHeight" value="20" />
    <add key="rootFolder" value="X:\_svn\_Menu\Main\" />
    <add key="textColor" value="Yellow" />
    <add key="textColor_Inactive" value="Gray" />
    <add key="backgroundColor" value="Black" />
    <add key="TextSize" value="9" />
    <add key="menuBar_DropDownButton_TextColor" value="Yellow" />
    <add key="menuBar_DropDownButton_BackgroundColor" value="DimGray" />
    <add key="borderColor" value="DimGray" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>